@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

body {
    font-family: "IM Fell French Canon SC", Helvetica, sans-serif;
    font-size: 22px;
    background-color: #FFFFFF;
    color: black;
    margin: 0;
    padding: 0;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #56faf0;
}
.logo {
    padding-left: 20px;
    padding-top: 15px;
    height: 100px;
    width: 150px;
}
nav {
    display: flex;
    line-height: 1em;
    text-align: left;
    font-size: 1.5em;
    padding-left: 50px;
}
nav a {
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 50px;
}
nav a:hover  {
    background-color: #000000;
    color: white;
}
.home-title {
    color: black;
    text-align: center;
}
#first-para, #third-para {
    display: grid;
    grid-template-columns: 425px 1fr;
    padding: 75px 75px 75px 125px;
    line-height: 1.5em;
    margin-top: 50px;
}
#second-para {
    background-color: #AD7A2A;
    display: grid;
    grid-template-columns: 1fr 425px;
    padding: 75px 125px 75px 75px;
    line-height: 1.5em;
}
.paragraph {
    display: flex;
    align-items: center;
}


footer {
    background-color: #56faf0;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
